/* 
+++++++++++
RESET  
+++++++++++
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++
BODY
+++++++++++
 */

body{
    background-image: url(../img/video-game.jpg);
    background-size: cover;
}

.content{
    background-image: url(../img/pattern.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid orangered;
    display: flex;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider{
    width: 700px;
    height: 400px;
    position: relative;
}

.box-img{
    height: 100%;
    display: none;
}
.box-img img,
.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid orangered;
}
.row-up,
.row-down{
    color: greenyellow;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    left: 50%;
}

.row-down{
    bottom: 20px;  
}

.row-up{
    top: 20px;
}

i{
    font-size: 40px;
    border: .0625rem solid transparent;
    padding: .3125rem 1.5625rem;
}

i:hover{
    background-color: rgba(84, 81, 81, 0.5);
}

.show{
    display: block;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    padding-left: 20px;
}

.prev-img{
    height: calc(100% / 5);
    padding-bottom: 10px;
    width: 150px;
}

.ms-style{
    opacity: 0.5;
}